@import "variables/global";
@import "null";
@import "themes/dark";
@import "themes/light";

body {
	font: var(--font-m);
	color: var(--primary-color);
}

.app {
	background: var(--bg-color);
	min-height: 100vh;
}

.page {
	display: flex;
}

.content {
	flex: 1 0 auto;
	padding: 20px;
}