@import 'variables/global';
@import 'null';
@import 'themes/dark';
@import 'themes/light';
@import 'themes/orange';

.app,
.app_modal {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
}

.main {
    display: flex;
}
