.articleDetailsPage {
    .article {
        margin-bottom: 20px;
    }

    .title {
        margin-bottom: 8px;
    }

    .commentForm {
        margin-bottom: 20px;
    }

    .back {
        margin-bottom: 20px;
    }

    .recommendations {
        margin-top: 20px;
        margin-bottom: 20px;
        flex-wrap: nowrap;
        overflow-x: auto;
    }
}
