.profilePageHeader {
    display: flex;
    gap: 20px;

    .title {
        flex: 1 1 auto;
    }

    .btnWrapper {
        display: flex;
        gap: 20px;
    }

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}
