.header {
    width: 100%;
    height: var(--header-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;

    .appName {
        flex: 1 1 100%;
    }
}

.links {
    display: flex;
    gap: 30px;
}
